/* ********************************************** */
/*          Stylesheet by Stephen Hwang           */
/*                                                */
/*                Table of Contents               */
/*                 - tags                    */
/*                 - classes                      */
/*                 - ids                          */
/*                                                */
/* ********************************************** */

body {
    font-family: sans-serif;
    background-color: rgb(244, 252, 255);
    margin: 0; 
}

h1 {
    position: relative;
    text-align: center;
    right: 30px;
    top: 275px;
    color: rgb(244, 252, 255);
    font-size: xx-large;
}

h2 {
    text-align: center;
}

ul {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c7c7c7;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8a8a8a;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    width: auto;
}

article {
    border-bottom: 1.5px solid black;

    text-align: center;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
}

.item1 {
    grid-column: 1 / span 1;
}

.background {
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.multi_columns {
    column-count: 3;
    text-align: left;
    font-size: 20px;
}

.sideproject {
    margin: 50px;
}

#name {
    font-size: 200%;
}

#image {
    border: 1px solid black;
    border-radius: 5%;
    height: 20em;
    width: 20em;
}

#content {
    border: 2px none black;
    border-radius: 12px;
    padding: 50px;
}

#home {
    padding: 150px;
    background-image: url("pictures/stephenpp.JPG");
    background-attachment: fixed;
    height: 60vh;
}

#about {
    padding: 150px;
    background-image: url("pictures/snowymountain.jpg");
}

#contact {
    padding: 150px;
    background-image: url("pictures/waterloo1.jpg");
}