/* ********************************************** */
/*          Stylesheet by Stephen Hwang           */
/*                                                */
/*                Table of Contents               */
/*                 - tags                    */
/*                 - classes                      */
/*                 - ids                          */
/*                                                */
/* ********************************************** */

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: sans-serif;
    background-color: rgb(244, 252, 255);
    margin: 0; 
    font-size: 20px;
}

h1 {
    position: relative;
    text-align: center;
    top: 20rem;
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

h2 {
    text-align: center;
}

h3 {
    padding: 0 0 2em 0
}

ul {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c7c7c7;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8a8a8a;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    width: auto;
}

article {
    border-bottom: 1.5px solid black;

    text-align: center;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
}

.span2 {
    grid-column: 1 / span 2;
}

.background {
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.image {
    border: 1px solid #ddd;
    border-radius: 5%;
    height: 25rem;
    width: 25rem;
}

.image:hover {
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}

.image_contact {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    padding: 0.5em;
}

.multi_columns {
    column-count: 3;
    text-align: left;
    font-size: 10rem;
}

.sideproject {
    margin: 50px;
}

.proj1 {
    grid-column: 1 / span 1;
}

.proj2 {
    grid-column: 2 / span 1;
}

@media only screen and (max-width: 1250px) {
    .image{height: 17.5rem; width: 17.5rem}
    .proj1 {grid-column: 1 / span 2}
    .proj2 {grid-column: 1 / span 2}
}

#loading {width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block; 
    z-index: 99
}

#loading-image {position: absolute;
    top: 40%;
    left: 45%;
    z-index: 100
} 

#name {
    font-size: 200%;
}

#content {
    border: 2px none black;
    border-radius: 12px;
    padding: 50px;
}

#home {
    padding: 150px;
    background-image: url("pictures/stephenpp.JPG");
    background-attachment: fixed;
    height: 100vh;
}

#about {
    padding: 150px;
    background-image: url("pictures/snowymountain.jpg");
}

#contact {
    padding: 150px;
    background-image: url("pictures/castle-dark.jpg");
}